@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
      display: block;
    }
  
    .navbar {
      padding: 15px 0;
    }
  
    .navbar .logo img {
      display: none;
    }
  
    .navbar .logo h2 {
      font-size: 1.4rem;
    }
  
    .navbar .links {
      position: fixed;
      top: 0;
      z-index: 10;
      left: -100%;
      display: block;
      height: 100vh;
      width: 100%;
      padding-top: 60px;
      text-align: center;
      background: #fff;
      transition: 0.2s ease;
    }
  
    .navbar .links.show-menu {
      left: 0;
    }
  
    .navbar .links a {
      display: inline-flex;
      margin: 20px 0;
      font-size: 1.2rem;
      color: #000;
    }
  
    .navbar .links a:hover {
      color: #00bcd4;
    }
  
    .navbar .login-btn {
      font-size: 0.9rem;
      padding: 7px 10px;
    }
  }
  
  @media (max-width: 760px) {
    .form-popup {
      width: 95%;
    }
  
    .h11{
        display: none;
    }
    .form-box .form-details {
      display: none;
    }
  
    .form-box .form-content {
      padding: 30px 20px;
    }
  }
  